* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-container {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 20px 0;
  background: rgb(77, 29, 29);
}

/* button,
input {
  line-height: 2.15;
} */
